---
name: CI

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:

jobs:
  formatting:
    name: Formatting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21

      - name: Format
        run: nix develop --command treefmt --fail-on-change

  bsp:
    name: BSP
    needs:
      - formatting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21

      - name: Clippy (rp2040)
        run: |
          cd ./bsp
          nix develop --command cargo clippy --target thumbv6m-none-eabi -F rp2040 -- -D warnings

      - name: Clippy (rp235xa)
        run: |
          cd ./bsp
          nix develop --command cargo clippy --target thumbv8m.main-none-eabihf -F rp235xa -- -D warnings

      - name: Build (rp2040)
        run: |
          cd ./bsp
          nix develop --command cargo build --target thumbv6m-none-eabi -F rp2040

      - name: Build (rp235xa)
        run: |
          cd ./bsp
          nix develop --command cargo build --target thumbv8m.main-none-eabihf -F rp235xa

  examples:
    name: Examples
    needs:
      - bsp
    runs-on: ubuntu-latest

    strategy:
      matrix:
        example:
          - "kitchen-sink-rp2040"
          - "kitchen-sink-rp235xa"
          - "steal-rp2040"

    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21

      - name: Clippy
        run: |
          cd ./bsp/examples/${{ matrix.example }}
          nix develop --command cargo clippy -- -D warnings

      - name: Build
        run: |
          cd ./bsp/examples/${{ matrix.example }}
          nix develop --command cargo build
